* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    overflow-x: hidden;
}

@media screen and (min-width: 900px) {
    .page-header, .trending-blog {
        margin-left: 216px;
    }
}

.grey {
    padding-top: 37px;
    background: #F7F7F7;
}

a {
    outline: none;
    border: none;
    text-decoration: none;
    color: black;
}

p {
    font-size: 14px;
    margin-top: 15px;
    line-height: 22px;
    color: #777777;
}

button {
    outline: none;
    border: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.flex {
    display: flex;
}

.page-header {
    align-items: center;
    width: 100%;
    height: 46px;
    position: relative;
    z-index: 2;
}

.icon {
    width: auto;
    float: left;
    display: flex;
}

.page-header .icon img.logo1 {
    margin-top: 2px;
    height: 39px;
    width: 31px;
}

.icon img.logo2 {
    height: 36px;
    width: 145px;
    margin-left: 4px;
    margin-top: 4px;
}

.page-header .header-links {
    flex-direction: row;
    float: right;
    align-items: center;
    display: flex;
    margin-right: 127px;
    font-weight: 200;
    width: 47%;
    cursor: pointer;
}

.page-header .btn {
    margin-left: 9px;
}

.page-header .header-links .links {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    margin-bottom: -4px;
    padding-bottom: 11px;
    padding-top: 10px;
    margin-right: 35px;
}

.page-header .header-links .links:hover {
    color: #FE7A3D;
    border-bottom: 1px solid #FE7A3D;
}

.btn {
    background-color: #FF5300;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    padding: 12px 31px;
    border-radius: 4px;
    cursor: pointer;
    max-width: 500px;
}

.trending-blog {
    overflow: hidden;
}

.trending-blog .left {
    margin-top: 126px;
    float: left;
    width: 58%;
}

.trending-blog .title {
    margin-top: 5px;
    color: #FE7A3D;
    font-weight: 500;
    font-size: 13px;
}

.trending-blog .title span {
    letter-spacing: 0.5px;
    word-spacing: 4px;
}

.trending-blog .title::before {
    /* increase seq to increase length */
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
    text-decoration: line-through;
    margin-right: 5px;
}

.right {
    float: right !important;
    position:relative;
}

.trending-blog .right {
    float: right !important;
    width: 100%;
    height:auto;
    margin-top: -1.6% !important;
    margin-right: -59.2% !important;
}

.trending-blog .right img {
    height: 765px;
    z-index: 0;
    width: 602px;
}

.trending-blog .heading {
    font-size: 52px;
    margin-top: 18px;
    font-weight: bold;
    line-height: 61px;
}

.trending-blog .left p {
    margin-top: 26px;
    margin-bottom: 44px;
    font-size: 17px;
    width: 80%;
    line-height: 23px;
}

.latest-blogs {
    margin-left: 216px;
    position: relative;
    background: white;
    min-height: 936px;
    padding-top: 1px;
    margin-top: -5% !important;
    margin-right: 87px !important;
    z-index: 2;
    border-radius: 9px;
    box-shadow: 0px 20px 30px 10px #F4F4F4;
}

.latest-blogs .blog-header {
    display: flex;
    margin-top: 57px;
    margin-bottom: 48px;
}

.latest-blogs .blog-header .title {
    font-size: 31px;
    margin-left: 70px;
    font-weight: 600;
    word-spacing: 3px;
}

.latest-blogs .blog-header .btn {
    margin-left: auto;
    order: 2;
    padding-bottom: 12px;
    margin-right: 69px;
    cursor: pointer;
}

.latest-blogs .blogs {
    margin-left: 102px;
    display: flex;
    margin-bottom: 31px;
}

.latest-blogs .blogs img {
    margin-top: -8px !important;
    margin-left: -9px !important;
}

.latest-blogs .blogs .new {}

.latest-blogs .blogs .blog-content {
    float: left;
    width: 55%;
    min-height: 194px;
    margin-right: 31px;
}

.latest-blogs .blogs .title {
    font-size: 24px;
    margin-top: 7px;
    font-weight: 600;
    margin-left: 11px;
}

.latest-blogs .blogs .content{
    font-size: 15px;
    margin-top: 17px;
    margin-left: 10px;
    line-height: 24px;
    color: #777777;
}

.latest-blogs .blogs .btn{
    left: -5px;
    padding: 12px 42px;
    margin-top: 13px;
    cursor: pointer;
}

.latest-blogs .blog-details {
    width: 26.5%;
    margin-top: 43px;
    line-height: 31px;
    color: #C4C4C4;
}

.center {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.latest-blogs .white-btn {
    margin-top: 52px;
    font-size: 13px;
    border: 1px solid #FF5300;
    background-color: white;
    color: #FF5300;
    width: 165px;
    border-radius: 5px;
    padding: 12px 0px;
    cursor: pointer;
}

.blog-posts {
    margin-left: 216px;
    margin-top: 96px;
}

.blog-posts .blog-post-header {
    font-size: 32px;
    font-weight: 700;
    margin-left: 40%;
}

.blog-posts .blog-list {
    /* cursor: grab; */
}
.blog-posts .blog-list {
    display: flex;
    margin-top: 79px;
    margin-right: 55px;
}

.blog-posts .blogs .author-details {
    min-height: 46px;
    border-left: 3px solid #FE5200;
}

.blog-posts .blogs .author-name{
    margin-left: 33px;
    font-size: 16px;
    color: #FE5200;
}

.blog-posts .blogs .date {
    margin-left: 5px;
    font-size: 14px;
    color: #ABABAB;
}

.blog-posts .blogs .location {
    margin-left: 33px;
    margin-top: 10px;
    font-size: 14px;
    color: #ABABAB;
}


.blog-posts .blog {}

.blog-posts .blog .blog-header {
    margin-left: 38px;
    font-size: 24px;
    margin-top: 7px;
    line-height: 35px;
    font-weight: 600;
    color: #222222;
}

.blog-posts .blog .blog-content {
    margin-top: 26px;
    margin-left: 39px;
    line-height: 23px;
    font-size: 15px;
    color: #959595;
}

.blog-posts .blogs {
    margin-right: 30px;
    padding-right: 29px;
    border-radius: 23px;
    padding-bottom: 41px;
    box-shadow: 15px 0px 30px 17px #F6F6F6;
}

.blog-posts .blog .white-btn {
    margin-top: 27px;
    font-size: 14px;
    border: 1px solid #FF5300;
    background-color: white;
    color: #FF5300;
    width: 121px;
    margin-left: 35px;
    justify-content: center;
    border-radius: 5px;
    padding: 12px 0px;
    display: flex;
    cursor: pointer;
}

.blog-posts .carousel {
    margin-top: 3.2%;
    display: flex;
    margin-left: 550px;
}

.blog-posts .carousel .next {
    margin-left: 28px;
    cursor: pointer;
}

.blog-posts .carousel .prev {
    cursor: pointer;
}

.instagram-feeds {
    margin-top: 93px;
    margin-left: 206px;
}

.instagram-feeds .header {

font-weight: 600;

font-size: 32px;

margin-left: 471px;

margin-bottom: 55px;
}

.instagram-feeds .feeds {
    display: grid;
}

.instagram-feeds .feeds .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  
.instagram-feeds .feeds .column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 23%;
}

.instagram-feeds .feeds img {
    margin-top: -8% !important;
}

.new-blogs {
    margin-top: 103px;
}

.new-blogs p {
    
margin-bottom: 27px;
    
margin-left: 555px;
    
font-size: 15px;
    
word-spacing: 1px;
    
margin-top: 30px;
    
width: 34%;
}

.new-blogs .header {
    margin-left: 627px;
    font-size: 32px;
    font-weight: 600;
    text-decoration: underline;
}

.new-blogs input{
    margin-left: 511px;
    width: 29.15%;
    background: #F5F5F5;
    color: #C9C9C9;
    padding-left: 33px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 4px 0px 0px 4px;
}

.new-blogs .btn{
    display: flex;
    justify-content: center;
    font-size: 14px;
    width: 9.8%;
    padding: 20px 33px;
    border-radius: 0px 4px 4px 0px;
}

.new-blogs .btn img {
    
margin-left: 9px;
    
margin-top: 2px;
}

.contact{
    width: 35.3%;
    padding-right: 8%;
}

.contact .icon .logo1 {

}

.container .pages {
    width: 15.85%;
    display: grid;
    margin-top: 18px;
}

.container .recent-blogs {
    width: 20.7%;
    display: grid;
    margin-top: 17px;
}

.container .partners {
    display: grid;
    margin-top: 17px;
}

.container {
    margin-left: 272px;
    margin-top: 107px;
}

.contact .socials {
    margin-top: 23px;
}

#contact a {

margin-top: 10px;

font-size: 14px;

color: #C9C9C9;
}

#contact .partners img {
    
}

.pages .header {
    margin-bottom: 5px;
}
.recent-blogs .header {
    margin-bottom: 7px;
}

.contact .socials img {
    border: 1px solid orange;
    margin-top: 17px;
    margin-right: 24px;
    padding: 16px;
}

.contact p {
    margin-top: 64px;
    line-height: 23px;
}

.footer {
    margin-left: 270px;
    margin-right: 142px;
    padding: 54px 429px;
    font-size: 14px;
    margin-top: 77px;
    border-top: 1px solid black;
}